<%- include('header') -%>
    <h1><%=pelicula.title%></h1>
    <ul> 
        <li> 
            Duracion: <%=pelicula.length%></li>
        </li>
        <li> 
            Premios: <%=pelicula.awards%></li>
        </li>
        <li> 
            Rating: <%=pelicula.rating%>
        </li>
        <li> 
           Genero: <%=pelicula.genero.name%>
        </li>
        <li> 
            Actores
            <ul> 
                
            </ul>
         </li>
    </ul>


<%- include('footer') -%>
